Repository dkokollari/Erboristeria-Alchimia, pull requests merged in 2020-06, with the labels that each got.

#129 Feature/registrazione utente
  DBAccess.php
  js/date-input-polyfill.dist.js
  js/design.js
  js/validate_form.js
  login.html
  register.html
  register.php
  stylesheet.css
  validate_form.php
Labels: CSS, HTML, JavaScript, PHP

#130 Rimosso htmLawed
  htmLawed/htmLawed.php
  htmLawed/htmLawedTest.php
  htmLawed/htmLawed_README.htm
  htmLawed/htmLawed_README.txt
  htmLawed/htmLawed_TESTCASE.txt
Labels: invalid

#133 Feature/css stampa informazioni
  informazioni.html
  print.css
  stylesheet.css
Labels: CSS, HTML

#116 Feature/controlli js login
  js/design.js
  login.html
  login.php
  stylesheet.css
Labels: CSS, JavaScript

#134 Cambiato unita di misura da cm in em + tolto id superflui
  print.css
Labels: CSS, bug

#88 Eventi + HTML conforme
  DBAccess.php
  Image.php
  articoli.html
  articoli.php
  carrello.html
  carrello.php
  deleteTeInfusi.php
  erboristeria.html
  eventi.html
  eventi.php
  img/eventi/0.jpg
  img/eventi/1.jpg
  index.php
  informazioni.html
  inserimento_teinfusi.html
  inserimento_teinfusi.php
  la_mia_storia.html
  login.html
  modifica_teInfusi.html
  prodotti.html
  register.html
  ricerca.html
  ricerca.php
  stylesheet.css
  teinfusi.html
  teinfusi.php
  updateTeInfusi.php
Labels: HTML, PHP

#132 Product card
  changelog_andrea_accessibilita.txt
  changelog_andrea_vetrina.txt
  img/la_mia_storia_cut.jpg
  img/marika_background_mobile.jpg
  img/prodotti_background.jpg
  img/prodotti_background_mobile.jpg
  img/products/helan_profumi_della_casa_fragolino_selvatico_100ml.jpg
  img/products/small_img/erbolario_danza_di_fiori_profumo_50ml_min.jpg
  img/products/small_img/erbolario_ginepro_nero_maxi_beauty_set_min.jpg
  img/products/small_img/helan_linea_bimbi_amido_di_riso_min.jpg
  img/products/small_img/helan_profumi_della_casa_fragolino_selvatico_100ml_min.jpg
  index.html
  js/design.js
  prodotti.html
  prodotti/helan_profumi_della_casa_fragolino_selvatico_100ml.html
  stylesheet.css
Labels: CSS, HTML, JavaScript, bug

#131 Standard
  .htaccess
  DBAccess.php
  Image.php
  base.html
  control_input.php
  inserimento_teinfusi.html
  inserimento_teinfusi.php
  menu_pagina.php
  redirect.html
  redirect.php
  session.php
  validationFormTeInfusi.js
Labels: HTML, JavaScript, PHP

#136 Feature/validazione carrello
  articoli.php
  carrello.html
  carrello.php
  img/vetrina_background.jpg
  img/vetrina_background_mobile.jpg
  prodotti.html
  shopping-cart.css
  stylesheet.css
Labels: PHP

#138 Feature/prodotti php
  articoli.html
  prodotti.html
  prodotti.php
  prodotto_singolo.html
  prodotto_singolo.php
  ricerca.html
  ricerca.php
Labels: PHP

#139 Feature/profilo utente
  DBAccess.php
  login.php
  profilo.php
  register.html
  register.php
  teinfusi.php
Labels: PHP

#140 Feature/carrello
  website/www/css/shopping-cart.css
  website/www/css/stylesheet.css
  website/www/html/base.html
  website/www/html/base5.html
  website/www/html/carrello.html
  website/www/html/prodotti.html
  website/www/html/prodotto_singolo.html
  website/www/img/vetrina_background.jpg
  website/www/img/vetrina_background_mobile.jpg
  website/www/php/back/Utilities.php
  website/www/php/back/genera_pagina.php
  website/www/php/front/aggiunta_rimozione_prodotti_carrello.php
  website/www/php/front/carrello.php
  website/www/php/front/eventi.php
  website/www/php/front/prodotti.php
  website/www/php/front/prodotto_singolo.php
Labels: PHP
