Repository dkokollari/Erboristeria-Alchimia, pull requests merged in 2020-04, with the labels that each got.

#62 Feature/teinfusi immagini php
  img/te_e_infusi/0.jpg
  img/te_e_infusi/2.jpg
  img/te_e_infusi/3.jpg
  teinfusi.html
  teinfusi.php
Labels: PHP, SQL

#66 Fix teinfusi css
  img/te_oolong_frutta.jpg
  img/te_rosso_africa_bio.jpg
  stylesheet.css
  teinfusi.html
Labels: CSS, HTML

#67 Feature/crea login
  js/design.js
  login.html
  stylesheet.css
Labels: CSS, HTML, JavaScript

#68 Feature/la mia storia
  img/ciaosonomarika.jpg
  img/la_mia_storia_background.jpg
  img/laurea.jpg
  img/negozio_grazie.jpg
  img/orto_botanico.jpg
  la_mia_storia.html
Labels: HTML

#70 Update README.md
  README.md
Labels: documentation
