Repository dkokollari/Erboristeria-Alchimia, pull requests merged in 2020-05, with the labels that each got.

#101 Accessibilita andrea
  README.md
  changelog_andrea.txt
  icons/cancel.svg
  img/favicon-16x16.png
  img/favicon.ico
  img/home_background_mobile.jpg
  img/home_background_resized.jpg
  img/la_mia_storia_background.jpg
  img/laurea.jpg
  img/negozio_grazie.jpg
  img/orto_botanico.jpg
  img/te_oolong_frutta_mobile.jpg
  img/te_rosso_africa_bio_mobile.jpg
  js/design.js
  la_mia_storia.html
  stylesheet.css
  teinfusi.html
Labels: CSS, HTML, JavaScript

#87 Feature/teinfusi proper php
  DBAccess.php
  Image.php
  teinfusi.html
  teinfusi.php
Labels: PHP

#103 Small fix teinfusi
  teinfusi.html
  teinfusi.php
Labels: HTML

#94 Delete te o infuso
  DBAccess.php
  Image.php
  deleteTeInfusi.php
  inserimento_teinfusi.html
  inserimento_teinfusi.php
  modifica_teInfusi.html
  modifica_teInfusi.php
  updateTeInfusi.php
Labels: PHP

#115 Feature/resta collegato
  carrello.php
  index.php
  login.html
  login.php
  logout.php
Labels: HTML, PHP
